<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- An URL to access a Selenium Grid Hub. -->
    <add key="DEVBRIDGE_SELENIUM_GRID_URL" value="http://ondemand.saucelabs.com:80/wd/hub"/>

    <!-- An URL to access a Selenium Grid HubApi. -->
    <add key="DEVBRIDGE_SELENIUM_GRID_API_URL" value="http://saucelabs.com/rest/v1/"/>

    <!-- No default value. A username to access a private Selenium Grid Hub. -->
    <add key="DEVBRIDGE_SELENIUM_GRID_USERNAME" value="[your-selenium-grid-hub-username]"/>

    <!-- No default value. A access key (password) to access a private Selenium Grid Hub. -->
    <add key="DEVBRIDGE_SELENIUM_GRID_ACCESS_KEY" value="[your-selenium-grid-hub-access-key]"/>

    <!-- A browser platform. Available values: [Android|Linux|Mac|Unix|Vista|Windows|WinNT|XP]. -->
    <add key="DEVBRIDGE_SELENIUM_GRID_PLATFORM" value="Windows 8"/>

    <!-- A browser type. Available values: [android|chrome|firefox|ipad|iphone|ie|opera|safari].-->
    <add key="DEVBRIDGE_SELENIUM_GRID_BROWSER" value="IE" />

    <!-- A browser version. -->
    <add key="DEVBRIDGE_SELENIUM_GRID_VERSION" value="10" />
  </appSettings>
</configuration>